<div class="navbar-header">
    <div class="topbar">
        <div>
            <span class="topbar-kicker">Blog Admin</span>
            <!-- <h5>Blog Admin</h5> -->
        </div>

        <div class="topbar-actions">
            <a href="/dashboard" class="btn btn-light">
                Home
            </a>
            <a href="/dashboard/profile" class="btn btn-light">
                profile
            </a>

           

            <a href="/auth/logout" class="btn btn-danger">
                Logout
            </a>
        </div>
    </div>
</div>
