<aside class="sidebar">
    <div class="sidebar-logo p-3 text-center">
        <h4>Blogs Panel</h4>
    </div>

    <div class="sidebar-menu-area">
        <ul class="sidebar-menu">

            <li>
                <a href="/dashboard">
                    <span>Dashboard</span>
                </a>
            </li>

            <li>
                <a href="/dashboard/add-blog">
                    <span>Add Blog</span>
                </a>
            </li>

            <li>
                <a href="/dashboard/views-blogs">
                    <span>View Blogs</span>
                </a>
            </li>

        </ul>
    </div>
</aside>
